@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

a,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    text-decoration: none;
    color: #333;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: #4a8cc7;
}

.login-page {
    display: flex;
    background-color: #EEEEEE;

}

.welcome-sec {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    gap: 1em;
    background-color: #EEEEEE;

    p {
        font-size: 1.2em;
        font-weight: 500;
        color: #333;
        width: 80%;
        line-height: 1.5em;
        text-align: center;
    }
}

.welcome-sec img {
    height: 20%;
    object-fit: cover;

}

.login-sec {
    height: 100vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a8cc7;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    padding: 2em;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-group input {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 90%;
    padding: 0.5em;
    font-size: 1em;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group input:focus {
    border-color: #4a8cc7;
    outline: none;

}

.btns-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 10px;

}

.error {
    color: red;
    font-size: 0.9em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a8cc7;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
}

.btn:hover {
    background: #3a7bb7;
    transition: 0.3s;
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    text-align: center;
    color: #555;
    cursor: pointer;
}

.link:hover {
    color: #000000;
}

/* Home page */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    border-bottom: #aaa 1px solid;
    padding: 1em;
    padding-bottom: 1.5em;
    background-color: #EEEEEE;
    flex-wrap: wrap;
}

.logout-mobile {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1em;
}

.logo p {
    font-size: 0.9em;
    line-height: 1.2em;
    color: #333;
}

.logo img {
    height: 7vh;
    object-fit: cover;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    list-style: none;
    width: auto;
    padding-right: 8em;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

.nav-links li a:hover {
    color: #4a8cc7;
    transition: 0.3s;
}

.logout {
    display: flex;
    align-items: center;
}

/* Burger menu styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    height: 3px;
    width: 25px;
    background: #333;
    border-radius: 2px;
    transition: 0.3s;
}




.event-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}


.container-event {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 70%;
    height: 20rem;
    border-radius: 10px;
    margin-top: 5em;
    padding: 2em;
    background: #EEEEEE;
}

.container-event:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: 0.6s;
}

.img-container {
    width: 40%;
    height: 20rem;
    height: auto;
    border-radius: 10px;

    img {
        width: 100%;
        height: 20rem;
        object-fit: contain;
        border-radius: 20px;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    height: 20rem;
    padding-top: 3%;

}

.text-container h1 {
    font-size: 2em;
    font-weight: 500;
    color: #0b0e0f;
}

.date {
    color: #555;
    font-size: 1em;
    font-weight: 400;
}

.text-container p {
    font-size: 1.2em;
    font-weight: 500;
    color: #0b0e0f;
    line-height: 1.5em;
}

.btn-event {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a8cc7;
    color: white;
    padding: 0.5em 1.5em;
    margin-top: 3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    width: 30%;
}

.btn-event:hover {
    background: #3a7bb7;
    transition: 0.3s;
}


.img-container input {

    width: 90%;
    padding: 0.5em;
    font-size: 1em;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.img-container input:focus {
    border-color: #4a8cc7;
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 60%;
}

.input-container input {
    width: 90%;
    padding: 0.5em;
    font-size: 1em;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.description {
    height: 5rem;
}

.input-container input:focus {
    border-color: #4a8cc7;
    outline: none;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 7em;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 30%;
    height: 20rem;
    border-radius: 10px;
    margin-top: 2em;
    padding: 2em;
    background: #EEEEEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 50%;

    img {
        width: 100%;
        height: 10rem;
        object-fit: contain;
        border-radius: 50%;
    }
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    padding-top: 3%;
}

.footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 100%;
    background-color: #EEEEEE;
    color: white;
    font-size: 0.9em;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1em;
    padding: 2em 2em;
    padding-bottom: 0;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0 2em;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media screen and (max-width: 768px) {
    .welcome-sec {
        display: none;
    }

    .login-sec {
        width: 100%;
        border-radius: 0px;
    }


    .burger {
        display: flex;
    }

    .nav-links {
        margin: 1em 0;
        display: none;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        padding: 1em 0;
        background-color: #EEEEEE;

        top: 10vh;
        left: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .logout {
        display: none;
    }

    .nav-links .logout-mobile {
        display: block;
    }


    .event-section {
        margin-top: 10vh;
    }

    .container-event {
        flex-direction: column;
        height: auto;
    }

    .img-container {
        width: 100%;
    }

    .text-container {
        width: 100%;
        height: auto;
    }

    .text-container h1 {
        font-size: 1.2em;
    }

    .text-container p {
        font-size: 1em;
    }

    .btn-event {
        width: 100%;
    }

    .profile-card {
        margin-top: 8em;
        width: 80%;
        height: auto;
    }

    .footer-links {
        flex-direction: column;
        padding-bottom: 2em;
    }
}